.Dictionary{
    background: linear-gradient(68.7deg, rgb(235, 217, 221) 8%, rgb(216, 174, 211) 55.4%, rgb(145, 130, 196) 91.1%);
    padding:100px;
    margin:10px;
    border-radius:20px;
    
}
.Dictionary section {
    border-radius:20px;
    box-shadow: 0 20 0 20;
    
  
    

}
.Dictionary input{
    width:100%;
    padding:5px;
    border:1px solid;
    
}