.Dictionary{
    background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
    padding:20px;
    margin:30px;
    border-radius:20px;
    
}
.Dictionary section {
    border-radius:20px;
    box-shadow: 0 20 0 20;
    border:3px;
    

}
.Dictionary input{
    width:100%;
    padding:5px;
    border:1px solid;
    
}